@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.home {
    height: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bq-logo {
    z-index: 3;
    width: 18%;
    top: 0;
    left: 0;
    position: absolute;
}

.bq-title {
    z-index: 2;
    width: 80%;
    margin-top: -80px;
}

.background-chefs {
    position: absolute;
    height: 1200px;
}

.btn-home {
    display: flex;
    width: 300px;
    height: 75px;
    background-color: #FA7F4B;
    border: none;
    font-size: 29px;
    color: #FFFFFF;
    font-family: 'Staatliches', cursive;
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: -100px;
}