.cardsPedidos {
    display: flex;
    flex-direction: row;
    background-color: #FFE181;
    position: relative;
    width: 250px;
    min-height: 350px;
    height: auto;
    justify-content: space-around;
    align-content: center;
    padding: 20px 16px;
    border-radius: 12px;
    color: #FFFF;
    font-family: 'Manrope', sans-serif;
    gap: 13px;
    flex-direction: column;
    color: #000000; 
    text-align: center;
}

.container-cards-pedidos {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    top: 200px;
    position: absolute;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.pedidos-title-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15%;
}

.product-client {
    background-color: #FFFFFF;
    color: #776D6D;
    border-radius: 10px;
    height: 32px;
    align-content: center;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.btn-deliver {
    background-color: #FA7F4B;
    border-radius: 10px;
    border: none;
    height: 32px;
    color: #FFFFFF;
}

.orders-title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 205px;
        height: 50px;
        background-color: #FA7F4B;
        border: none;
        border-radius: 35px;
        font-size: 20px;
        color: #FFF;
        font-weight: 600;
        margin-right: -40px;
        z-index: 4;
        text-decoration: none;
        margin-top: 115px;
}